html {
    height: 100%;
}

body {
    background-color: #222;
    padding: 0px;
    text-align: center;
    color: white;
    height: inherit;
}

#root {
    height: inherit;
}

a:hover {
    color: white;
    text-decoration: none;
}

.logo {
    height: 15em;
    margin-bottom: 2em;
}

.quote {
    width: 40em;
    margin: auto;
}

.footer {
    margin-top: 1em;
    font-size: 0.7em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

/* page specific rules */

div.generic {
    padding: 1em;
}

div.backups {
    font-size: 0.7em;
}

div.backups table {
    margin-top: 3em;
    margin: auto;
    width: 70em;
}

div.backups th {
   text-align: center;
}

div.commies {
    height: 100%;
    background-color: white;
}

div.commies img {
    height: 100%;
    margin: 0px;
}

/* blockquote */

blockquote {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.4em 40px;
    line-height: 1.45;
    position: relative;
    border: 0px;
}

blockquote::before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 5em;
    position: absolute;
    left: -0.5em;
    top: -0.3em;
}

blockquote::after {
    display: block;
    padding-left: 10px;
    content: "\201D";
    font-size: 5em;
    position: absolute;
    right: -0.2em;
    bottom: -0.8em;
}

blockquote cite {
    font-size: 1em;
    display: block;
    margin-top: 1.2em;
    float: right !important;
}

blockquote cite::before {
    content: "\2014 ";
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
