body {
    background-color: #222;
}

.App {
    text-align: center;
    padding: 2em;
    color: white;
}

.logo {
    height: 15em;
    margin-bottom: 2em;
}

.App-title {
    font-size: 3em;
}

.App-intro {
    font-size: large;
}

.quote {
    width: 40em;
    margin: auto;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 1.2em;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.4em 40px;
    line-height: 1.45;
    position: relative;
}

blockquote::before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 5em;
    position: absolute;
    left: -0.5em;
    top: -0.3em;
}

blockquote::after {
    display: block;
    padding-left: 10px;
    content: "\201D";
    font-size: 5em;
    position: absolute;
    right: -0.2em;
    bottom: -0.8em;
}

blockquote cite {
    font-size: 1em;
    display: block;
    margin-top: 1.2em;
    float: right !important;
}

blockquote cite::before {
    content: "\2014 ";
}
